// Footer
// ----------------------------------------------------------------------------

footer {
	background: $clr-2;
	padding: 24px 16px;
	text-align: center;
	color: lighten($clr-2, 30%);
	text-transform: uppercase;
	letter-spacing: 0.5px;
	a {
		color: #999;
		text-decoration: none;
	}
	@include mq-at-least(600px) {
		br {
			display: none;
		}
	}
}

.footer-wrapper {
	@extend %wrapper;
}
